name: build and deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read 
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: setup bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    
    - name: install deps
      run: bun install
    
    - name: lint
      run: bun run lint
    
    - name: build
      run: bun run build

    - name: sync
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER}}
        username: ${{ secrets.FTP_USERNAME}}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./dist/
        server-dir: ./httpdocs/
